:root {
  --color:#f4eeb4;
}

* {
    margin:0;
    padding: 0;
}

body {
  background: var(--color);
}

.fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.fotos .galeria {
  max-width:750px;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grip-template-rows: 250px 250px 250px;
  grip`-gap: 1rem;
}

.fotos .galeria .img-a {
  background: black;
  grid-column: 2/4;
}

.fotos .galeria .img-b {
  background: black;
}

.fotos .galeria .img-c {
  background: black;
}

.fotos .galeria .img-d {
  background: black;
}

.fotos .galeria .img-e {
  background: black;
}

.fotos .galeria .img-f {
  background: black;
}

.fotos .galeria .img-g {
  background: black;
}

.fotos .galeria .img-h {
  background: black;
}

.fotos .galeria .img-i {
  background: black;
}

.fotos .galeria .img-j {
  background: black;
}

.fotos .galeria .img-k {
  background: black;
}
